
.container {
    max-width: 500px;
    margin: 50px auto;
    background-color: #00000092;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
}

.container form {
    text-align: left;
}

.container label, .container input {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    
}

.container input[type="submit"] {
    background-color: #06376c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.container input[type="submit"]:hover {
    background-color: #0056b3;
}

.container input[type="text"]{
    background-color: rgb(49, 48, 48);
    color: white;
    border-color: #007bff;
}

.container input[type="date"]{
background-color: rgb(49, 48, 48);
color: white;
border: #007bff;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.movie-card {
    max-width: 200px;
    margin: 10px;
    text-align: center;
    background-color: rgb(0, 136, 255);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.movie-card img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}

.movie-card h2 {
    margin: 10px 0;
}

.container input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 25px;
    height: 20px;
    border: 2px solid #007bff;
    border-radius: 4px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-left: 10px;
}

.container input[type="checkbox"]:checked {
    background-color: #007bff;
}

.container input[type="checkbox"]:checked::before {
    content: '\2713';
    font-size: 16px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.checkbox-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.checkbox-group div {
    margin-right: 20px;
    display: flex;
    align-items: center;
}





















